body{
	background-color: white;
}

#header{
	background-color: #999;
	background-blend-mode: darken;
	text-align: center;
}
#container{
	background-color: #777;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#content{
	font-family: Times, Arial, Helvetica;
	color: white;
	text-align: center;
	padding: 0px 10px 10px 10px;
}
#main{
}

#footer{
color: white;
	clear:both;

	text-align: center;
}

th, td {
    float: center;
}